@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*=================================
  Header styling starts here
=================================*/
.header-section {
  width: 100%;
  margin-top: 25px;
  position: absolute;
  z-index: 1;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo > a {
  padding: 12px 40px;
  border: 1px solid #101010;
  border-radius: 6px;
  color: #101010;
  font-size: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.logo > a:hover {
  background-color: #ddf247;
}

.nav {
  width: 80%;
}

.nav > ul {
  display: flex;
  gap: 50px;
}

.nav a {
  color: #101010;
  font-size: 20px;
  transition: all 0.3s ease;
}

.nav a:hover {
  color: #ddf252;
}

.talk-btn {
  padding: 10px 20px;
  border: 1px solid #ddf252;
  border-radius: 6px;
  outline: none;
  color: #000;
  background-color: #ddf252;
  font-size: 20px;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.talk-btn:hover {
  color: #ddf252;
  background-color: #000;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*************************************
  banner section styling starts here
***************************************/
.banner-section {
  position: relative;
}

.banner-container {
  display: flex;
}

.banner-left {
  width: 60%;
  padding: 160px 0 154px;
}

.banner-right {
  width: 40%;
}

.girl-img {
  height: 100%;
  position: relative;
  background-color: #000;
}

.girl-img img {
  height: 90%;
  position: absolute;
  bottom: 0;
  left: -15%;
  object-fit: cover;
  overflow-x: inherit;
}

.info {
  font-size: 20px;
}

.banner-heading {
  margin: 32px 0;
  font-size: 75px;
}

.banner-heading > span {
  display: block;
}

.btn-container {
  margin-top: 64px;
}

.register-btn {
  padding: 24px 75px;
  border-radius: 6px;
  margin-right: 15px;
  color: #fff;
  background-color: #101010;
  font-size: 20px;
  transition: all 0.3s ease;
}

.register-btn:hover {
  color: #101010;
  background-color: #fff;
}

.call-btn {
  padding: 24px 75px;
  border: 1px solid #101010;
  border-radius: 6px;
  color: #101010;
  background-color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}

.call-btn:hover {
  color: #fff;
  background-color: #101010;
}

.circle-container {
  margin-top: 64px;
  position: relative;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #f8f8f8;
  display: inline-block;
  background-color: #d9d9d9;
  text-indent: -9999px;
}

.circle:not(:first-child) {
  position: absolute;
}

.circle:nth-child(2) {
  left: 3%;
}

.circle:nth-child(3) {
  left: 6%;
}

.circle:nth-child(4) {
  left: 9%;
}

.circle:nth-child(5) {
  left: 12%;
}
/*************************************
  banner section styling ends here
***************************************/

/*************************************
  choose section styling starts here
***************************************/
.choose-container {
  display: flex;
}

.choose-left {
  width: 60%;
}
.choose-right {
  width: 40%;
}

.choose-left > img {
  height: 790px;
  filter: grayscale(100%);
  object-fit: cover;
}

.choose-heading {
  margin: 72px 0 50px;
  font-size: 50px;
}

.list-container {
  margin-left: 20px;
}

.list-container > li {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
}

.list-container > li:last-child {
  margin-bottom: 0;
}

.list-container span {
  color: #ddf247;
  font-size: 50px;
}

.list-container p {
  margin-left: 50px;
  font-size: 20px;
  line-height: 24px;
}

/*************************************
  choose section styling ends here
***************************************/

/*************************************
  university section styling starts here
***************************************/
.university-list {
  padding: 34px 0;
  display: flex;
  gap: 65px;
  justify-content: center;
  align-items: center;
}
/*************************************
  university section styling ends here
***************************************/

/*************************************
  why-us section styling starts here
***************************************/
.why-us-section {
  padding: 100px 0;
  background-color: #f8f8f8;
}

.why-us-container {
  display: flex;
  background: linear-gradient(
    270deg,
    rgb(248, 248, 248) 0%,
    rgba(248, 248, 248, 0) 12.56%
  );
}

.why-heading {
  font-size: 30px;
  font-weight: 500;
  width: 70%;
}

.why-us-left {
  flex-basis: 40%;
}

.why-us-left .info {
  margin: 20px 0 40px;
}

.why-us-left .wrapper {
  margin-left: 18%;
}

.why-us-right {
  flex-basis: 70%;
}

.why-slider {
  display: flex;
}

.why-slider li {
  background-color: #fff;
  padding: 40px 2%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.why-slider .active-slider {
  background-color: #ddf247;
}

.why-slider .active-slider span {
  padding: 8px 5%;
  border-radius: 8px;
  color: #000;
  background-color: #fff;
}

.why-slider li:not(:last-child) {
  margin-right: 2%;
}

.why-slider li span {
  margin-left: 2%;
  color: #ddf247;
  font-size: 30px;
}

.why-slider li p {
  margin-top: 20px;
  font-size: 18px;
}

.slide-nav {
  display: flex;
  justify-content: center;
  margin: 55px 0;
}

.slide-nav a {
  background-color: #d3d1d1;
  margin-right: 2%;
  padding: 3px;
  border-radius: 10px;
}

.slide-nav a:first-child {
  width: 10%;
  background-color: #ddf247;
}

.slide-nav a:not(:first-child) {
  width: 4%;
}
/*************************************
  why-us section styling ends here
***************************************/

/*************************************
  counsellor section styling starts here
***************************************/
.counsellor-section {
  padding: 90px 0;
  background-color: #ddf247;
}

.counsellor-container {
  display: flex;
  align-items: center;
  gap: 180px;
}

.counsellor-heading {
  color: #101010;
  font-size: 50px;
  line-height: 60px;
}

.counsellor-btn {
  height: 86px;
  padding: 25px 60px;
  border: none;
  border-radius: 6px;
  background-color: #fff;
  color: #101010;
  font-size: 30px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.counsellor-btn:hover {
  background-color: #101010;
  color: #fff;
}
/*************************************
  counsellor section styling ends here
***************************************/

/*************************************
  why-us section styling ends here
***************************************/
.why-choose-container {
  display: flex;
}

.why-choose-left {
  width: 40%;
}

.boy-img {
  height: 100%;
  position: relative;
  background-color: #000;
}
.why-choose-left img {
  height: 90%;
  position: absolute;
  right: -5%;
  bottom: 0;
  object-fit: cover;
  overflow-x: inherit;
}

.why-choose-right {
  width: 60%;
  padding: 135px 138px 125px;
}

.why-choose-heading {
  margin-bottom: 54px;
  font-size: 60px;
  color: #101010;
}

.next-btn {
  padding: 24px 45px;
  border: 1px solid #ddf247;
  border-radius: 6px;
  background-color: #ddf247;
  color: #101010;
  font-size: 20px;
  transition: all 0.3s ease;
}

.next-btn:hover {
  background-color: #101010;
  color: #ddf247;
}

.why-list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
}

.why-list span {
  color: #101010;
  font-size: 50px;
}

.why-list p {
  margin-top: 9px;
  color: #101010;
  font-size: 20px;
}
/*************************************
  why-us section styling ends here
***************************************/

/*************************************
  hear section Stylings starts
***************************************/
.hear-section {
  background-color: #f8f8f8;
}

.hear-heading {
  font-size: 40px;
  font-weight: 500;
  padding-top: 60px;
}

.hear-list {
  display: flex;
  padding-top: 40px;
}

.hear-list li {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 10px;
}

.hear-list li:not(:last-child) {
  margin-right: 2%;
}

.hear-list li p {
  padding: 12px;
}

.hear-list li .double-quotes {
  font-size: 0;
  font-family: "FontAwesome";
  margin: 10px 5%;
  color: #ddf252;
}

.hear-list li .double-quotes::after {
  content: "\f10d";
  font-size: 20px;
}

.name {
  font-weight: 500;
}

.name,
.location {
  margin-left: 4%;
}

.location {
  display: block;
}

.rating {
  margin: 10px 4% 20px;
}

.ellipis {
  font-size: 0;
  font-family: "FontAwesome";
  color: #f8f8f8;
}

.ellipis::after {
  content: "\f111";
  font-size: 15px;
  margin-top: 10px;
}

.ellipis:not(:last-child)::after {
  margin-right: 3%;
  color: #ddf252;
}

.hear-section .slide-nav {
  padding-bottom: 30px;
}
/*************************************
  hear section Stylings Ends
***************************************/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
.footer-section {
  padding: 58px 0 44px;
  background-color: #101010;
  color: #fff;
}

.footer-heading {
  font-size: 50px;
  text-align: center;
}

.footer-nav {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 185px;
}

.footer-nav a {
  color: #fff;
  text-decoration: underline;
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
